/* Estilos globales*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}


/* Barra de navegacion */
.nav {
    background: #2f2f2f;  /* fallback for old browsers */
    -webkit-box-shadow: 2px 2px 4px 1px rgba(122, 121, 122, 0.1);
    -moz-box-shadow: 2px 2px 4px 1px rgba(110,107,110,0.1);
    box-shadow: 2px 2px 4px 1px rgba(110,107,110,0.1);
    height: 72px;
    position: fixed;
    z-index: 300;
    top:0;
    width: 100%;
}

.nav-2 {
    background: rgba(46, 48, 51, 0.9);  /* fallback for old browsers */
    -webkit-box-shadow: 2px 2px 4px 1px rgba(122, 121, 122, 0.1);
    -moz-box-shadow: 2px 2px 4px 1px rgba(110,107,110,0.1);
    box-shadow: 2px 2px 4px 1px rgba(110,107,110,0.1);
    height: 85px;
    position: fixed;
    z-index: 300;
    top:0;
    width: 100%;
}

.nav .container .col-5 {
    display: flex;
}

.nav .container .media {
    justify-content: center;
    align-items: center;
}


/* Logo */
.aura {
    position:absolute;
    height:65px;
    width:70px;
    z-index: -1;
    top: -7px;
}

.cara {
    position:absolute;
    width: 36px;
    height: 31px;
    top: 14px;
    margin-left: 2px;
    z-index: 1;
    transition: 1s;
}

.cara:hover{
    width: 37px;
    height: 32px;
    top: 13px;
    transition: 1s;
}


/* Lista de opciones del nav */
.nav .container .opciones {
    height: 52px;
    display: flex;
}

.nav .container .opciones .row {
    align-items: center;
    width: 100%;
}

.nav .container .opciones .row .col-3{
    text-align: center;
}

.nav .container .opciones .row .col-2 {
    width: 20%;
}

.opciones .row .opcion {
    color: floralwhite ;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.opciones .row .opcion:hover {
    color:  ghostwhite ;
    text-decoration: none;
    padding-bottom: 60px;
    font-size: 23px;
    transition: 0.1s;
}


/* Datos del usuario */
.box-datos {
    background-color: #f7f7f7;
}

.container.datos {
    height: 630px;
}

.container.datos .contenido {
    margin-top: 72px;
    padding-top: 150px;
}


/* Foto */
.media .user {
    width: 200px;
    height: 312px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.5);
    -moz-box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.5);
    box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.5);
}


/* Datos */
.container.datos .info .titulo h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px;
    padding-bottom: 8px;
}

.container.datos .info .datos-personales h4 {
    font-family: 'Roboto', sans-serif;
}


/* Proyectos */
.box-color {
    background-color: #212121;
}

.container.proyectos {
    height: auto;
}

.container.proyectos .row h1{
    padding-top: 30px;
    color: seagreen;
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px;
}

.container .contenedor {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container .contenedor .titulo h1 {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: floralwhite;
    
}

.container .contenedor .descripcion li b {
    font-size: 19px;
    color:ivory;
}

.container .contenedor .descripcion li {
    font-size: 18px;
    color: #fefefe;
    font-family: 'Roboto', sans-serif;
}


/* Estudios */
.container.estudios {
    margin-top: 40px;
    height: 350px;
    margin-bottom: 170px;
}

.container.estudios .titulo {
    padding-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 0px;
    font-size: 45px;
    font-family: 'Archivo Black', sans-serif;
}

.container.estudios .institucion img{
    max-height: 140px;
}

.container.estudios .institucion img:hover{
    max-height: 141px;
    transition: 0.1s;
}


/* Contacto */
.contacto {
    background-color: #212121;
}

.contacto .container.contact {
    height: 450px;
    display: flex;
}

.contacto .container .container-fila {
    align-items: center;
    width: 100%;
}

.contacto .container .container-fila p{
    color:white;
    text-align: center;
    margin: 0;
    font-size: 17px;
}

.contacto .container .redes .icono-footer {
    color: white;
    font-size: 55px;
}

.contacto .container .redes .icono-footer:hover {
    color: white;
    font-size: 56px;
    transition: 0.3s;
}

.contacto .box-footer {
    width: 100%;
    height: 100px;
}


@media screen and (max-width : 800px)  { 
    /* Barra de navegacion */
    .opciones .row .opcion {
        color: floralwhite ;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .opciones .row .opcion:hover {
        color: floralwhite ;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }

    .nav .container .opciones {
        height: 55px;
        display: flex;
    }


    /* Logo */
    .aura {
        position:absolute;
        height:52px;
        width:57px;
        z-index: -1;
        top: 0px;
    }
    
    .cara {
        position:absolute;
        height:24px;
        width:29px;
        top: 17px;
        margin-left: 1px;
        z-index: 1;
        transition: 1s;
    }

    .cara:hover{
        width: 30px;
        height: 25px;
        top: 17px;
        transition: 1s;
    }


    /* Datos */
    .media {
        padding-left: 25px;
    }

    .container.datos {
        height: 630px;
        padding-top: 80px;
    }
 
    .container.datos .contenido {
        margin-top: 70px;
        padding-top: 15px;
    }

    .foto-user {
        padding-left: 0;
    }

    .media .user {
        width: 160px;
        height: 220px;
        border-radius: 2px;
        -webkit-box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.3);
        -moz-box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.3);
        box-shadow: 1px 2px 4px 1px rgba(161,145,161,0.3);
    }

    .container.datos .info {
        padding-top: 30px;
    }

    .container.datos .info .titulo h2 {
        color: #2f2f2f ;
        text-decoration: none;
        padding-bottom: 20px;
        font-size: 25px;
        transition: 0.1s;
        text-align: center;
    }
    
    .container.datos .info .datos-personales h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        padding-left: 70px;
    }

    
    /* Proyectos */
    .container.proyectos .row h1 {
        padding-top: 30px;
        color: seagreen;
        font-family: 'Archivo Black', sans-serif;
        font-size: 40px;
        padding-left: 70px;
    }

    .container .contenedor .titulo h1 {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: floralwhite;
        padding: 0;
        padding-left: 25px;
        
    }
    
    .container .contenedor .descripcion li b {
        font-size: 12px;
        color:ivory;
    }
    
    .container .contenedor .descripcion li {
        font-size: 13px;
        color: #fefefe;
        font-family: 'Roboto', sans-serif;
    }


    /* Estudios */
    .container.estudios {
        margin-top: 10px;
        height: 580px;
        margin-bottom: 0px;
    }
    
    .container.estudios .institucion {
        display: flex;
        padding-left: 0px;
    }

    .container.estudios .institucion a{
        max-height: 45px;
        margin: 50px 40px;
    }

    .container.estudios .institucion img{
        max-height: 105px;
    }
    
    .container.estudios .titulo {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 32px;  
        text-align: center;
    }

    .container.estudios .institucion a{
        width: 100%;
        text-align: center;
    }


    /* Contactos */
    .contacto .container-fila .col-12{
        width: 100%;
    }

    .contacto .container-fila {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .contacto .container .container-fila p{
        font-size: 22px;
        padding-top: 70px;
    }

    .contacto .container.contact {
        height: 480px;
        display: flex;
    }

    .contacto .box-footer {
        width: 100%;
        height: 50px;
    }
}